*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  line-height: 2%;
  font-family: 'SF Pro text', Arial, sans-serif;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  color: #4F4F4F;
  text-align: left;
  font-size: 12px;

}

.nav {
  background-color: #383838;
  color: #FFFFFF;
  font-family: 'Unica One', Arial, sans-serif;
  font-size: 2em;
  padding-top:13%;
  text-align: center;
  height: 215px;
  width: 100%;
  background-image: url("../images/StatusBar-White.png");
  background-repeat: no-repeat;

}


h1 {
font-weight:normal;
color: #000000;
font-size: 13px;
font-family: 'SF Pro Text';
text-transform: capitalize;
letter-spacing: normal;
line-height: 3em;
padding-left: 5%;
padding-top: 2%;

}

h2 {
  line-height: 1.7em;
  color: #000000;
  padding-left: 5%;
  text-align: left;
  font-weight: normal;
  padding-top: 10px;

}


.block {
  display:block;
  padding: 3%;
  width: 100%;
  font-size: 10px;
  font-weight:normal;
  text-transform: uppercase;
  background-color: #676767;
  color: #FFFFFF;
  word-spacing: 60px;
  padding-left: 5%;
  position: relative;
}


.map-image{
  background-image: url("../images/Map.png");
  background-repeat: no-repeat;
  background-size: 375px;
  height: 300px;
  bottom: 100px;
  position: relative;
}

.bus-info {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10%;
  padding-left: 5%;
  color: #000000;
  bottom: 40px;
}

.destination {
  padding-left: 27%;
}

.time{
  font-size: 16px;
  color:#00CFB3;
  font-weight: bold;
  text-align: right;
  padding-right: 21%;
}

.container{
  width: 100%;
  height: 500px;
}


.bus-line {
  background-color: #FFFFFF;
}


.arrow {
  text-align: right;
  font-size: .5em;

}

[class^="fa fa-chevron-right fa-2x"] {
  position: relative;
  bottom: 5px;
  padding-right: 5%;
}


.service{
  line-height: 3em;
  padding-left: 5%;
}
