*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  line-height: 2%;
  font-family: 'SF Pro text', Arial, sans-serif;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  color: #4F4F4F;
  text-align: left;
  font-size: 12px;

}

.vertical   {
  background-color: #383838;
  width: 20px;
  height: 70px;
  position: absolute;
  background-image:url("../images/location-picker.png");
  background-size: auto;
  background-repeat: no-repeat;
  margin-left: 14%;
  top: 13%;
  }

  .box1, .box2 {
    border: solid 10px #383838;
    background-color: #ffffff;
    width: 80%;
    height: 100px;
  }

  .search-container {
    background-color: #383838;
    width: 100%;
    height: 180px;
    background-image: url("../images/StatusBar-White.png");
    background-repeat: no-repeat;
  }

.nav {
  color: #ffffff;
  font-family: 'Unica One', Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 12%;
}

 .location-picker{
  background-image: url("../images/location-picker.png");
  display: inline;
}

.search-bars {
  padding-left: 20%;
  padding-top: 6%;
  height: 180px;
}

h5{
  padding: 7%;

}

.box1, .box2 {
  border: solid 10px #383838;
  background-color: #ffffff;
  width: 80%;
  height: 50px;
}

.bus-line{
  font-weight: bold;
  padding-left: 5%;
  padding-top: 8%;
  font-size: 20px;
}

h1 {
font-weight:normal;
color: #000000;
font-size: 14px;
font-weight: normal;
font-family: 'SF Pro Text';
letter-spacing: normal;
padding-left: 23%;

}

h2 {
  font-size: 13px;
  padding-left: 5%;
  padding-top: 7%;
}

h3 {
  font-weight:normal;
  color: #000000;
  font-size: 11px;
  letter-spacing: normal;
  padding-left: 23%;
  line-height: 3.5em;
}

h4 {
  font-weight: bold;
  font-size:16px;
  padding-left: 5%;
  line-height: 2.5EM;
  color: #00CFB3;
}

h5 {
  font-weight: bold;
  font-size:16px;
  padding-left: 5%;
  color: #686868;
  line-height: 2.3em;
}

.small-font{
  font-weight:normal;
  color: #000000;
  font-size: 11px;
  letter-spacing: normal;
  line-height: 1px;
  display:block;
  padding-top: 5px;


}


.frequency{
  padding-left:65%;
  position:relative;
  bottom: 50px;
}


.location {
  border: 1px solid #DADADA;
  position:relative;
  background-color: white;
  height: 72px;
  width: 100%;
  padding:0;
}

/** inactive lines**/

.inactive {
  border: 1px solid #DADADA;
  position:relative;
  background-color: #BBBBBB;
  height: 72px;
  width: 100%;
  padding:0;
}

.bus-line-inactive{
  color:#686868;
  font-weight: bold;
  padding-left: 5%;
  padding-top: 8%;
  font-size: 20px;
}

.frequency-inactive {
  color:#686868;
  padding-left:65%;
  position:relative;
  bottom: 55px;
}

.map-image {
  background-image: url("../images/Map.png");
  height: 253px;
  background-repeat: no-repeat;
  width:100%;
}

.bus-container{
  background-color: #F2F2F2;
  height: 650px;
}

.arrow {
  text-align: right;
  font-size: .8em;
}

[class^="fa fa-chevron-right fa-2x"] {
  position: relative;
  bottom: 80px;
  padding-right: 5%;
}

.header .nav .bus {
  text-align: left;
  font-size: 3em;
  color:white;
  width: 100%;
  padding-left: 20px;
}

[class^="fal fa-smile"] {
  position: relative;
  padding:10%;

}
