*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  line-height: 2%;
  font-family: 'SF Pro text', Arial, sans-serif;
  text-align: center;
  display: block;
  height: 675px;
  width: 375px;
  color: #4F4F4F;
  text-align: left;
  font-size: 12px;

}

/**Searchbar**/

h2 {
    font-size: 13px;
    padding-left: 5%;
    padding-top: 6%;
  }

  .box1, .box2 {
    border: solid 10px #383838;
    background-color: #ffffff;
    width: 93%;
    height: 50px;

  }

  .search-container {
    background-color: #383838;
    width: 100%;
    height: 220px;
    background-image: url("../images/StatusBar-White.png");
    background-repeat: no-repeat;
    padding-left: 55px;
  }


.nav {
  color: #ffffff;
  font-family: 'Unica One', Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 15%;
  padding-right: 50px;
}

/**active buslines**/

h1 {
font-weight:normal;
color: #000000;
font-size: 13px;
font-weight: normal;
font-family: 'SF Pro Text';
letter-spacing: normal;
padding-left: 23%;

}

p{
  padding-left:23%;
  line-height: 2.8em;
}


h4 {
  font-weight: bold;
  font-size:16px;
  padding-left: 5%;
  line-height: 2.5EM;
  color: #00CFB3;
}

h5 {
  font-weight: bold;
  font-size:16px;
  padding-left: 5%;
  color: #686868;
  line-height: 2.3em;
}

.small-font{
  font-weight:normal;
  color: #000000;
  font-size: 11px;
  letter-spacing: normal;
  line-height: 1px;
  display:block;
  padding-top: 5px;
}

h6{
  color:white;
  font-size: 1em;
  text-align: left;
}



.inline-container{
  top:6px;
  margin-left:3.4%;
  margin-right:5%;
  display:inline;
  position:relative;
  word-spacing: 30px;

}

.inline-tab{
  width:375px;
  float:left;
  height:35px;
  width:100%;
  position: relative;
  bottom:25px;
  background-color:#676767;


}

.move {
  right:7%;
  position:relative;
}


  .bus-schedule{
    height: 667px;
  }



.active {
  border: 1px solid #DADADA;
  position:relative;
  background-color: #ffffff;
  height: 72px;
  width: 100%;
  padding-top: 10%;
}

.bus-line{
  color:#000000;
  font-weight: bold;
  padding-left: 5%;
  font-size: 20px;
}

.destination{
    height: 72px;
    position:relative;
    padding-top: 30px;
    bottom: 40px;
  }


.frequency{
  color:#686868;
  padding-left:63%;
  position:relative;
  bottom: 90px;
}

/** inactive bus lines**/

.inactive {
  border: 1px solid #DADADA;
  position:relative;
  background-color: #BBBBBB;
  height: 72px;
  width: 100%;
  padding-top: 10%;
}

.bus-line-inactive {
  color:#686868;
  font-weight: bold;
  padding-left: 5%;
  font-size: 20px;
}

.destination-inactive {
  height: 72px;
  position:relative;
  padding-top: 30px;
  bottom: 40px;
}


.frequency-inactive {
  color:#686868;
  padding-left:63%;
  position:relative;
  bottom: 90px;
}


/**images**/
.vertical   {
  background-color: #383838;
  width: 20px;
  height: 80px;
  position: absolute;
  background-image:url("../images/location-picker.png");
  background-repeat: no-repeat;
  top:96px;
  margin-left: 30px;

  }

.back-arrow {
      color: #ffffff;
      width: 20px;
      height: 25px;
      position: absolute;
      background-image:url("../images/BackArrow.png");
      background-repeat: no-repeat;
      top:37px;
      margin-left: 30px;
  }

.location-x {
        background-size: 75%;
        width: 20px;
        height: 25px;
        position: absolute;
        background-image:url("../images/Location-x.png");
        background-repeat: no-repeat;
        top:148px;
        margin-left: 320px;
  }




.map-image {
      background-image: url("../images/Map.png");
      height: 230px;
      background-repeat: no-repeat;
      width:100%;
      position:relative;
      bottom:25px;
}

/**fontawesome icons**/

.arrow {
  text-align: right;
  font-size: .8em;
  line-height: 5em;
  padding: 10px;

}

[class^="fa fa-chevron-right fa-2x"] {
  position: relative;
  bottom:145px;
  padding-right: 5%;
}

.bus{
  font-size: 1.3em;
  padding-bottom: 10px;
}

[class^="fas fa-bus"] {
  position: relative;
  color:white;
  font-size: 1.5em;
  bottom: 12px;
  padding-left: 43px;
}
